<div class="row">
    <div class="col-md-12 col-xs-12 padding-elemento-topo-pagina div-titulo-pagina">
        <p class="titulo-pagina" id="titulo-pagina-welcome-collaborator"><%= t("legend_session_collaborator") %></p>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-6 col-xs-12 div-button-po-collaborator">
        <%= button_to 'Crie sua conta', "#", method: "get", action: "create", class: 'btn btn-success button-po-collaborator' %>
    </div>
    <div class="col-md-6 col-xs-12 div-button-po-collaborator">
        <%= button_to 'Faça login', "#", method: "#", action: "#", class: 'btn btn-success button-po-collaborator button-collaborator' %>
    </div>
</div>