.div-titulo-pagina {
    text-align: center;
    color: white;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
}

.div-button-po-collaborator {
    text-align: center;
}

.button-po-collaborator {
    width: 100%;
    height: 150px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
}

/* Media queries */

@media (max-width: 768px) {
    .button-collaborator {
        margin-top: 10px;
    }
}